@model DebtCalculatorWebApp.Models.Mortgage

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mortgage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MortgageAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MortgageAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MortgageTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MortgageTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MortgageApr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MortgageApr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MortgageId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
