@model DebtCalculatorWebApp.Models.Mortgage

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mortgage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MortgageAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MortgageAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MortgageTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MortgageTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MortgageApr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MortgageApr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MortgageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
