@model IEnumerable<DebtCalculatorWebApp.Models.Mortgage>

@{
    ViewData["Title"] = "Index";
}

<h2>Mortgage Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Amount
            </th>
            <th>
                Time
            </th>
            <th>
                APR
            </th>
            <th>
                Record Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.MortgageAmount.ToString("C")
            </td>
            <td>
                @item.MortgageTime
            </td>
            <td>
                @item.MortgageApr %
            </td>
            <td>
                @item.RecordDate.ToShortDateString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MortgageId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MortgageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
