@model DebtCalculatorWebApp.Models.AutoLoan

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AutoLoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoLoanAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutoLoanAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutoLoanTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutoLoanTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutoLoanApr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutoLoanApr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AutoLoanId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
