@model IEnumerable<DebtCalculatorWebApp.Models.AutoLoan>

@{
    ViewData["Title"] = "Index";
}

<h2>Automobile Loan details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Amount
                
            </th>
            <th>
                Time
            </th>
            <th>
                APR
            </th>
            <th>
                Record Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.AutoLoanAmount.ToString("C")
            </td>
            <td>
                @item.AutoLoanTime
            </td>
            <td>
                 @item.AutoLoanApr %
            </td>
            <td>
                @item.RecordDate.ToShortDateString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutoLoanId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.AutoLoanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
